/*-----------------------
   Général
------------------------*/
* {
  box-sizing: border-box;
  margin: 0;
}

ul, li {
  list-style-type: none;
  padding-inline-start: 0;
}

a {
  color: inherit;
  text-decoration: none;
}


html{
    scroll-behavior: smooth;

}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
    font-family: 'Questrial', sans-serif;
    background-color: #f0ead6; /* Gris moyen à foncé */
    margin: 0; /* Pour supprimer les marges par défaut */
    padding: 0; /* Pour supprimer les espaces de remplissage par défaut */
    color: #2e292b;
    scroll-behavior: smooth;
}

.rounded_logo {
  border-radius: 30%;
}

.header_wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 2rem clamp(1.5rem, 4vw, 4.25rem);  /*clamp(min, preferred, max) -> 2rem par défaut, mais elle peut varier entre 1.5rem et 4.25rem en fonction de la largeur de la vue (viewport) de l'utilisateur.*/
}

.header_wrapper .header_logo {
  display: block;
  flex-shrink: 1; /*logo autorisé à se contracter*/
}
.header_wrapper .header_logo img {
  width: clamp(100px, 100%,150px);
}

.header_wrapper .nav_menu {
  display: flex;
  gap: 6rem;
  margin-left: 4rem;
}
.header_wrapper .nav_menu .nav_link {
  font-size: 2rem;
  white-space: nowrap;
  padding-bottom: 0.5rem;
  position: relative;
}

.header_wrapper .nav_menu .nav_link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.4rem;
  border-radius: 1rem;
  background-color: #c79b77;
  left: 0;
  bottom: 0;
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 0.8s ease-in-out;
}

.header_wrapper .nav_menu .nav_link:hover::before {
  transform-origin: right;
  transform: scaleX(1);
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #6D7B8D;
  border-radius: 1.5rem;
  padding: 2rem 5rem;
  gap: 2rem;
}
.intro_avatar {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
  background-color: #878E99;
  width: 100%;
  max-width: 300px;
  aspect-ratio: 1/1;
  border-radius: 100%;
  justify-self: center;
  box-shadow: rgba(0, 0, 0, 0.45) 1.95px 1.95px 2.6px;
}
.intro_avatar img {
  width: 100%;
  padding-top: 0%;
  margin-top: auto;
}
.intro_content {
  text-align: justify;
}
.intro_title {
  font-size: 3rem;
  color: #2e292b; /* Couleur du texte */
  text-align: center;

}
.intro_bis {
  margin-top: 1.5rem;
  max-width: 60rem;
  font-size: 1.4rem; /* Taille de la police */
  line-height: 2rem; /* Hauteur de ligne */
  color: #2e292b; /* Couleur du texte */
}

.intro_bis strong {
  font-weight: bold;
}

.intro_btn {
  display: inline-block;
  background-color: #878E99;
  padding: 1rem 1.5rem;
  border-radius: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  color: #fff; /* Couleur du texte */
  text-decoration: none;
  font-size: 1.6rem; /* Taille de la police */
  transition: background-color 0.3s ease; /* Animation de transition */
}
.intro_btn:hover {
  background-color: #c79b77; /* Changement de couleur au survol */
}

.home_about{
  margin-top: 5%;

}

.about {
  text-align: center;
  max-width: 50rem;
  margin-inline: auto;
}
.about_intro {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.about_picture {
  margin-inline: auto;
  display: block;
  width: auto;
  max-width: 13rem;
  aspect-ratio: 1/1;
  border-radius: 30%;
  object-fit: fill;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.about_intro_title {
  font-size: 3rem;
}

.about_intro_title_bis {
  font-size: 2rem;
}
.about_intro_content p {
  padding: 0.5rem;
    margin-top: 1.5rem;
    max-width: 60rem;
    font-size: 1.4rem; /* Taille de la police */
    line-height: 2rem; /* Hauteur de ligne */
    color: #2e292b; /* Couleur du texte */
}
.about_cv {
  display: inline-block;
  margin: 2rem auto;
  background-color: #878E99;
  padding: 1rem 1.5rem;
  border-radius: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  color: #fff;
  text-decoration: none;
  font-size: 1.6rem;
  transition: background-color 0.3s ease;
}

.about_cv:hover {
  background-color: #c79b77;
}

.about .about_skills:before {
  display: inline-block;
  content: "";
  width: 17rem;
  height: 0.5rem;
  background-color: rgb(199, 155, 119);
  border-radius: 0.62rem;
  margin-top: 3rem;
}
.about .skills_title {
  margin-block: 3rem;
  font-size: 2rem;

}

.about_skills_content p{
  padding: 0.5rem;
  margin-top: 1.5rem;
  max-width: 60rem;
  font-size: 1.4rem; /* Taille de la police */
  line-height: 2rem; /* Hauteur de ligne */
  color: #2e292b; /* Couleur du texte */
}

.about .skills_list {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Trois colonnes égales */
  gap: 2rem;
  margin-top: 3%;
}

.about .skills_list .icon-spaced {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.6rem;
}


.icon-spaced {
  display: inline-block;
  padding: 8px;
  border: 2px solid #ccc;
  border-radius: 4px;
  margin-right: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  }

  .icon-spaced:hover {
  transform: scale(1.1);
  }

/* Footer */
footer {
  background-color: #6D7B8D;
  color: #fff;
  padding: 20px;
  text-align: center;
  margin-top: 20px;
}

.footer_wrapper {
  margin-bottom: 20px;
}

.logo_wrapper {
  display: flex;
  justify-content: center;
}

.logo_wrapper img {
  width: 8%;
  border-radius: 30%;
}
